@import 'tailwindcss';

@font-face {
  font-family: 'Roboto Slab';
  src: url('/fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

body {
  font-family: 'Roboto Slab', serif;
}
